curdPropiedad/App_WebReferences/WebServiceProperties/WebServiceProperties.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://integration/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceProperties" targetNamespace="http://integration/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServiceProperties/WebServiceProperties?xsd=1" namespace="http://integration/" />
    </xsd:schema>
  </types>
  <message name="remove">
    <part name="parameters" element="tns:remove" />
  </message>
  <message name="count">
    <part name="parameters" element="tns:count" />
  </message>
  <message name="countResponse">
    <part name="parameters" element="tns:countResponse" />
  </message>
  <message name="find">
    <part name="parameters" element="tns:find" />
  </message>
  <message name="findResponse">
    <part name="parameters" element="tns:findResponse" />
  </message>
  <message name="create">
    <part name="parameters" element="tns:create" />
  </message>
  <message name="findAll">
    <part name="parameters" element="tns:findAll" />
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse" />
  </message>
  <message name="removeP">
    <part name="parameters" element="tns:removeP" />
  </message>
  <message name="editP">
    <part name="parameters" element="tns:editP" />
  </message>
  <message name="editPResponse">
    <part name="parameters" element="tns:editPResponse" />
  </message>
  <message name="findRange">
    <part name="parameters" element="tns:findRange" />
  </message>
  <message name="findRangeResponse">
    <part name="parameters" element="tns:findRangeResponse" />
  </message>
  <message name="edit">
    <part name="parameters" element="tns:edit" />
  </message>
  <message name="createP">
    <part name="parameters" element="tns:createP" />
  </message>
  <message name="createPResponse">
    <part name="parameters" element="tns:createPResponse" />
  </message>
  <portType name="WebServiceProperties">
    <operation name="remove">
      <input wsam:Action="http://integration/WebServiceProperties/remove" message="tns:remove" />
    </operation>
    <operation name="count">
      <input wsam:Action="http://integration/WebServiceProperties/countRequest" message="tns:count" />
      <output wsam:Action="http://integration/WebServiceProperties/countResponse" message="tns:countResponse" />
    </operation>
    <operation name="find">
      <input wsam:Action="http://integration/WebServiceProperties/findRequest" message="tns:find" />
      <output wsam:Action="http://integration/WebServiceProperties/findResponse" message="tns:findResponse" />
    </operation>
    <operation name="create">
      <input wsam:Action="http://integration/WebServiceProperties/create" message="tns:create" />
    </operation>
    <operation name="findAll">
      <input wsam:Action="http://integration/WebServiceProperties/findAllRequest" message="tns:findAll" />
      <output wsam:Action="http://integration/WebServiceProperties/findAllResponse" message="tns:findAllResponse" />
    </operation>
    <operation name="removeP">
      <input wsam:Action="http://integration/WebServiceProperties/removeP" message="tns:removeP" />
    </operation>
    <operation name="editP">
      <input wsam:Action="http://integration/WebServiceProperties/editPRequest" message="tns:editP" />
      <output wsam:Action="http://integration/WebServiceProperties/editPResponse" message="tns:editPResponse" />
    </operation>
    <operation name="findRange">
      <input wsam:Action="http://integration/WebServiceProperties/findRangeRequest" message="tns:findRange" />
      <output wsam:Action="http://integration/WebServiceProperties/findRangeResponse" message="tns:findRangeResponse" />
    </operation>
    <operation name="edit">
      <input wsam:Action="http://integration/WebServiceProperties/edit" message="tns:edit" />
    </operation>
    <operation name="createP">
      <input wsam:Action="http://integration/WebServiceProperties/createPRequest" message="tns:createP" />
      <output wsam:Action="http://integration/WebServiceProperties/createPResponse" message="tns:createPResponse" />
    </operation>
  </portType>
  <binding name="WebServicePropertiesPortBinding" type="tns:WebServiceProperties">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="remove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="count">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="find">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="editP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="createP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceProperties">
    <port name="WebServicePropertiesPort" binding="tns:WebServicePropertiesPortBinding">
      <soap:address location="http://localhost:8080/WebServiceProperties/WebServiceProperties" />
    </port>
  </service>
</definitions>