curdPropiedad/App_WebReferences/WebReferenceSNR/WebServiceSNR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://integration/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebServiceSNR" targetNamespace="http://integration/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.5.2.99:8080/WA_SNR/WebServiceSNR?xsd=1" namespace="http://integration/" />
    </xsd:schema>
  </types>
  <message name="remove">
    <part name="parameters" element="tns:remove" />
  </message>
  <message name="count">
    <part name="parameters" element="tns:count" />
  </message>
  <message name="countResponse">
    <part name="parameters" element="tns:countResponse" />
  </message>
  <message name="find">
    <part name="parameters" element="tns:find" />
  </message>
  <message name="findResponse">
    <part name="parameters" element="tns:findResponse" />
  </message>
  <message name="create">
    <part name="parameters" element="tns:create" />
  </message>
  <message name="findAll">
    <part name="parameters" element="tns:findAll" />
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse" />
  </message>
  <message name="findRange">
    <part name="parameters" element="tns:findRange" />
  </message>
  <message name="findRangeResponse">
    <part name="parameters" element="tns:findRangeResponse" />
  </message>
  <message name="edit">
    <part name="parameters" element="tns:edit" />
  </message>
  <portType name="WebServiceSNR">
    <operation name="remove">
      <input wsam:Action="http://integration/WebServiceSNR/remove" message="tns:remove" />
    </operation>
    <operation name="count">
      <input wsam:Action="http://integration/WebServiceSNR/countRequest" message="tns:count" />
      <output wsam:Action="http://integration/WebServiceSNR/countResponse" message="tns:countResponse" />
    </operation>
    <operation name="find">
      <input wsam:Action="http://integration/WebServiceSNR/findRequest" message="tns:find" />
      <output wsam:Action="http://integration/WebServiceSNR/findResponse" message="tns:findResponse" />
    </operation>
    <operation name="create">
      <input wsam:Action="http://integration/WebServiceSNR/create" message="tns:create" />
    </operation>
    <operation name="findAll">
      <input wsam:Action="http://integration/WebServiceSNR/findAllRequest" message="tns:findAll" />
      <output wsam:Action="http://integration/WebServiceSNR/findAllResponse" message="tns:findAllResponse" />
    </operation>
    <operation name="findRange">
      <input wsam:Action="http://integration/WebServiceSNR/findRangeRequest" message="tns:findRange" />
      <output wsam:Action="http://integration/WebServiceSNR/findRangeResponse" message="tns:findRangeResponse" />
    </operation>
    <operation name="edit">
      <input wsam:Action="http://integration/WebServiceSNR/edit" message="tns:edit" />
    </operation>
  </portType>
  <binding name="WebServiceSNRPortBinding" type="tns:WebServiceSNR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="remove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="count">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="find">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="WebServiceSNR">
    <port name="WebServiceSNRPort" binding="tns:WebServiceSNRPortBinding">
      <soap:address location="http://10.5.2.99:8080/WA_SNR/WebServiceSNR" />
    </port>
  </service>
</definitions>